.new-note__controls {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 2rem;
    text-align: left;
  }
  
  .new-note__control label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
    color:azure;
  }
  .new-note__control textarea{
        width: 43rem;
        height: 10rem;
  }
  
  .new-note__control input {
    font: inherit;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 20rem;
    max-width: 100%;
  }
  
  .new-note__actions {
    text-align: right;
  }